:root {
  --brand-dark: #1a1a1a;
  --brand-light: #ffffff;
  --brand-primary: #802cd9;
  --brand-secondary: #ff6600;
  --brand-tertiary: #4fc9ef;
  --brand-disable: #595959;
  --brand-extra: #dedede;
}
